.App {
    background-color:aquamarine;
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
}

body {
    padding-left: 40px;
    padding-right: 40px;
}
.Titulo-categoria{
    padding: 20px;
    background-color:rgb(86, 86, 230);
    text-align: center;
}